extends layout/site-layout
include modules/mixins

append config
    - var PageTitle         = "Main Page"
    - var MetaDesc          = "Meta Description for current page!!!"
    - var jQuery            = true
    - var updateBodyClass   = BodyClasses.push( 'extraclass', 'secondclass' )
    - var thisPage          = "Scaffold Startup"
    - var PageTitle         = PageTitle.concat(' | ' + thisPage)
    
block content
    
