doctype
html(lang="ru").no-js
  head
    block title
      title Start Page | Gulp + Jade + Stylus Scaffold
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='A description of this page')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Open+Sans:700&subset=cyrillic,cyrillic-ext')
    link(rel='stylesheet', type='text/css', href='./index.css')
    script(src='https://code.jquery.com/jquery-1.11.3.min.js', type='text/javascript')
    | <!--[if lt IE 9]>script(src="./scripts/html5shiv.min.js")<![endif]-->
    style.
      body {
        background: #46aad9;
        color: #fff;
      }
      h3 {
        margin-bottom: 30px;
      }
      a {
        color: #9DF0F8;
        font-weight: bold;
        transition: all .1s;
      }
      a:hover {
        color: #83D6DE;
        text-decoration: none;
      }
body
    .container
      h2.text-center Start page for Shanti Markup Scaffolder
      h3.text-center Gulp + Pug + SCSS + Bourbon Stack

      table.table.table-bordered
        tr
          th(width="30%") Links
          th Page name
        if locals.pages
          each page in locals.pages
            tr
              td
                a(href=page.file + ".html", target="_blank") #{page.file}.html
              td #{page.name}
