/* helpers classes */
input {
  transition: box-shadow 1s;
}
a:focus {
  outline: none;
}
i {
  display: inline-block;
}

/*********************************************
 * Basic site layout
 *********************************************/
body {

}
.site-wrapper {
  @include outer-container-fixed( 1280px );
}
