header.site-header
    #top-menu.site-nav
        ul
            li
                a(href="#") Главная
            li
                a(href="#") О нас

            li
                a(href="#") Медиа
                ul
                    li
                        a(href="#") Фото
                    li
                        a(href="#") Видео
                    li
                        a(href="#") Аудиозаписи
            li
                a(href="#") Контакты