/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-attention-name: 's-attention';
$s-attention-x: 412px;
$s-attention-y: 0px;
$s-attention-offset-x: -412px;
$s-attention-offset-y: 0px;
$s-attention-width: 26px;
$s-attention-height: 26px;
$s-attention-total-width: 467px;
$s-attention-total-height: 428px;
$s-attention-image: 'images/sprite.png';
$s-attention: (412px, 0px, -412px, 0px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-attention', );
$s-balloon-name: 's-balloon';
$s-balloon-x: 139px;
$s-balloon-y: 148px;
$s-balloon-offset-x: -139px;
$s-balloon-offset-y: -148px;
$s-balloon-width: 39px;
$s-balloon-height: 58px;
$s-balloon-total-width: 467px;
$s-balloon-total-height: 428px;
$s-balloon-image: 'images/sprite.png';
$s-balloon: (139px, 148px, -139px, -148px, 39px, 58px, 467px, 428px, 'images/sprite.png', 's-balloon', );
$s-bank1-name: 's-bank1';
$s-bank1-x: 373px;
$s-bank1-y: 231px;
$s-bank1-offset-x: -373px;
$s-bank1-offset-y: -231px;
$s-bank1-width: 26px;
$s-bank1-height: 26px;
$s-bank1-total-width: 467px;
$s-bank1-total-height: 428px;
$s-bank1-image: 'images/sprite.png';
$s-bank1: (373px, 231px, -373px, -231px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-bank1', );
$s-bank2-name: 's-bank2';
$s-bank2-x: 373px;
$s-bank2-y: 267px;
$s-bank2-offset-x: -373px;
$s-bank2-offset-y: -267px;
$s-bank2-width: 26px;
$s-bank2-height: 26px;
$s-bank2-total-width: 467px;
$s-bank2-total-height: 428px;
$s-bank2-image: 'images/sprite.png';
$s-bank2: (373px, 267px, -373px, -267px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-bank2', );
$s-bank3-name: 's-bank3';
$s-bank3-x: 152px;
$s-bank3-y: 368px;
$s-bank3-offset-x: -152px;
$s-bank3-offset-y: -368px;
$s-bank3-width: 26px;
$s-bank3-height: 26px;
$s-bank3-total-width: 467px;
$s-bank3-total-height: 428px;
$s-bank3-image: 'images/sprite.png';
$s-bank3: (152px, 368px, -152px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-bank3', );
$s-bank4-name: 's-bank4';
$s-bank4-x: 296px;
$s-bank4-y: 368px;
$s-bank4-offset-x: -296px;
$s-bank4-offset-y: -368px;
$s-bank4-width: 26px;
$s-bank4-height: 26px;
$s-bank4-total-width: 467px;
$s-bank4-total-height: 428px;
$s-bank4-image: 'images/sprite.png';
$s-bank4: (296px, 368px, -296px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-bank4', );
$s-bank5-name: 's-bank5';
$s-bank5-x: 332px;
$s-bank5-y: 368px;
$s-bank5-offset-x: -332px;
$s-bank5-offset-y: -368px;
$s-bank5-width: 26px;
$s-bank5-height: 26px;
$s-bank5-total-width: 467px;
$s-bank5-total-height: 428px;
$s-bank5-image: 'images/sprite.png';
$s-bank5: (332px, 368px, -332px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-bank5', );
$s-case-name: 's-case';
$s-case-x: 210px;
$s-case-y: 408px;
$s-case-offset-x: -210px;
$s-case-offset-y: -408px;
$s-case-width: 20px;
$s-case-height: 20px;
$s-case-total-width: 467px;
$s-case-total-height: 428px;
$s-case-image: 'images/sprite.png';
$s-case: (210px, 408px, -210px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-case', );
$s-close-name: 's-close';
$s-close-x: 0px;
$s-close-y: 218px;
$s-close-offset-x: 0px;
$s-close-offset-y: -218px;
$s-close-width: 40px;
$s-close-height: 40px;
$s-close-total-width: 467px;
$s-close-total-height: 428px;
$s-close-image: 'images/sprite.png';
$s-close: (0px, 218px, 0px, -218px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-close', );
$s-contacts-clocks-name: 's-contacts__clocks';
$s-contacts-clocks-x: 412px;
$s-contacts-clocks-y: 72px;
$s-contacts-clocks-offset-x: -412px;
$s-contacts-clocks-offset-y: -72px;
$s-contacts-clocks-width: 25px;
$s-contacts-clocks-height: 26px;
$s-contacts-clocks-total-width: 467px;
$s-contacts-clocks-total-height: 428px;
$s-contacts-clocks-image: 'images/sprite.png';
$s-contacts-clocks: (412px, 72px, -412px, -72px, 25px, 26px, 467px, 428px, 'images/sprite.png', 's-contacts__clocks', );
$s-contacts-consultings-icon-name: 's-contacts__consultings-icon';
$s-contacts-consultings-icon-x: 412px;
$s-contacts-consultings-icon-y: 108px;
$s-contacts-consultings-icon-offset-x: -412px;
$s-contacts-consultings-icon-offset-y: -108px;
$s-contacts-consultings-icon-width: 25px;
$s-contacts-consultings-icon-height: 25px;
$s-contacts-consultings-icon-total-width: 467px;
$s-contacts-consultings-icon-total-height: 428px;
$s-contacts-consultings-icon-image: 'images/sprite.png';
$s-contacts-consultings-icon: (412px, 108px, -412px, -108px, 25px, 25px, 467px, 428px, 'images/sprite.png', 's-contacts__consultings-icon', );
$s-contacts-locator-name: 's-contacts__locator';
$s-contacts-locator-x: 188px;
$s-contacts-locator-y: 179px;
$s-contacts-locator-offset-x: -188px;
$s-contacts-locator-offset-y: -179px;
$s-contacts-locator-width: 16px;
$s-contacts-locator-height: 26px;
$s-contacts-locator-total-width: 467px;
$s-contacts-locator-total-height: 428px;
$s-contacts-locator-image: 'images/sprite.png';
$s-contacts-locator: (188px, 179px, -188px, -179px, 16px, 26px, 467px, 428px, 'images/sprite.png', 's-contacts__locator', );
$s-contacts-mail-name: 's-contacts__mail';
$s-contacts-mail-x: 412px;
$s-contacts-mail-y: 176px;
$s-contacts-mail-offset-x: -412px;
$s-contacts-mail-offset-y: -176px;
$s-contacts-mail-width: 26px;
$s-contacts-mail-height: 18px;
$s-contacts-mail-total-width: 467px;
$s-contacts-mail-total-height: 428px;
$s-contacts-mail-image: 'images/sprite.png';
$s-contacts-mail: (412px, 176px, -412px, -176px, 26px, 18px, 467px, 428px, 'images/sprite.png', 's-contacts__mail', );
$s-contacts-phone-name: 's-contacts__phone';
$s-contacts-phone-x: 412px;
$s-contacts-phone-y: 143px;
$s-contacts-phone-offset-x: -412px;
$s-contacts-phone-offset-y: -143px;
$s-contacts-phone-width: 23px;
$s-contacts-phone-height: 23px;
$s-contacts-phone-total-width: 467px;
$s-contacts-phone-total-height: 428px;
$s-contacts-phone-image: 'images/sprite.png';
$s-contacts-phone: (412px, 143px, -412px, -143px, 23px, 23px, 467px, 428px, 'images/sprite.png', 's-contacts__phone', );
$s-deadline-name: 's-deadline';
$s-deadline-x: 330px;
$s-deadline-y: 408px;
$s-deadline-offset-x: -330px;
$s-deadline-offset-y: -408px;
$s-deadline-width: 20px;
$s-deadline-height: 20px;
$s-deadline-total-width: 467px;
$s-deadline-total-height: 428px;
$s-deadline-image: 'images/sprite.png';
$s-deadline: (330px, 408px, -330px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-deadline', );
$s-deadline-dark-name: 's-deadline_dark';
$s-deadline-dark-x: 300px;
$s-deadline-dark-y: 408px;
$s-deadline-dark-offset-x: -300px;
$s-deadline-dark-offset-y: -408px;
$s-deadline-dark-width: 20px;
$s-deadline-dark-height: 20px;
$s-deadline-dark-total-width: 467px;
$s-deadline-dark-total-height: 428px;
$s-deadline-dark-image: 'images/sprite.png';
$s-deadline-dark: (300px, 408px, -300px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-deadline_dark', );
$s-decoration-name: 's-decoration';
$s-decoration-x: 280px;
$s-decoration-y: 318px;
$s-decoration-offset-x: -280px;
$s-decoration-offset-y: -318px;
$s-decoration-width: 30px;
$s-decoration-height: 30px;
$s-decoration-total-width: 467px;
$s-decoration-total-height: 428px;
$s-decoration-image: 'images/sprite.png';
$s-decoration: (280px, 318px, -280px, -318px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-decoration', );
$s-down-name: 's-down';
$s-down-x: 448px;
$s-down-y: 327px;
$s-down-offset-x: -448px;
$s-down-offset-y: -327px;
$s-down-width: 16px;
$s-down-height: 10px;
$s-down-total-width: 467px;
$s-down-total-height: 428px;
$s-down-image: 'images/sprite.png';
$s-down: (448px, 327px, -448px, -327px, 16px, 10px, 467px, 428px, 'images/sprite.png', 's-down', );
$s-favorites-name: 's-favorites';
$s-favorites-x: 0px;
$s-favorites-y: 148px;
$s-favorites-offset-x: 0px;
$s-favorites-offset-y: -148px;
$s-favorites-width: 60px;
$s-favorites-height: 60px;
$s-favorites-total-width: 467px;
$s-favorites-total-height: 428px;
$s-favorites-image: 'images/sprite.png';
$s-favorites: (0px, 148px, 0px, -148px, 60px, 60px, 467px, 428px, 'images/sprite.png', 's-favorites', );
$s-fb-name: 's-fb';
$s-fb-x: 240px;
$s-fb-y: 318px;
$s-fb-offset-x: -240px;
$s-fb-offset-y: -318px;
$s-fb-width: 30px;
$s-fb-height: 30px;
$s-fb-total-width: 467px;
$s-fb-total-height: 428px;
$s-fb-image: 'images/sprite.png';
$s-fb: (240px, 318px, -240px, -318px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-fb', );
$s-flag-name: 's-flag';
$s-flag-x: 373px;
$s-flag-y: 195px;
$s-flag-offset-x: -373px;
$s-flag-offset-y: -195px;
$s-flag-width: 26px;
$s-flag-height: 26px;
$s-flag-total-width: 467px;
$s-flag-total-height: 428px;
$s-flag-image: 'images/sprite.png';
$s-flag: (373px, 195px, -373px, -195px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-flag', );
$s-floor-name: 's-floor';
$s-floor-x: 260px;
$s-floor-y: 368px;
$s-floor-offset-x: -260px;
$s-floor-offset-y: -368px;
$s-floor-width: 26px;
$s-floor-height: 26px;
$s-floor-total-width: 467px;
$s-floor-total-height: 428px;
$s-floor-image: 'images/sprite.png';
$s-floor: (260px, 368px, -260px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-floor', );
$s-form-mail-name: 's-form_mail';
$s-form-mail-x: 180px;
$s-form-mail-y: 408px;
$s-form-mail-offset-x: -180px;
$s-form-mail-offset-y: -408px;
$s-form-mail-width: 20px;
$s-form-mail-height: 20px;
$s-form-mail-total-width: 467px;
$s-form-mail-total-height: 428px;
$s-form-mail-image: 'images/sprite.png';
$s-form-mail: (180px, 408px, -180px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-form_mail', );
$s-form-msg-name: 's-form_msg';
$s-form-msg-x: 150px;
$s-form-msg-y: 408px;
$s-form-msg-offset-x: -150px;
$s-form-msg-offset-y: -408px;
$s-form-msg-width: 20px;
$s-form-msg-height: 20px;
$s-form-msg-total-width: 467px;
$s-form-msg-total-height: 428px;
$s-form-msg-image: 'images/sprite.png';
$s-form-msg: (150px, 408px, -150px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-form_msg', );
$s-form-phone-name: 's-form_phone';
$s-form-phone-x: 120px;
$s-form-phone-y: 408px;
$s-form-phone-offset-x: -120px;
$s-form-phone-offset-y: -408px;
$s-form-phone-width: 20px;
$s-form-phone-height: 20px;
$s-form-phone-total-width: 467px;
$s-form-phone-total-height: 428px;
$s-form-phone-image: 'images/sprite.png';
$s-form-phone: (120px, 408px, -120px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-form_phone', );
$s-form-user-name: 's-form_user';
$s-form-user-x: 0px;
$s-form-user-y: 408px;
$s-form-user-offset-x: 0px;
$s-form-user-offset-y: -408px;
$s-form-user-width: 20px;
$s-form-user-height: 20px;
$s-form-user-total-width: 467px;
$s-form-user-total-height: 428px;
$s-form-user-image: 'images/sprite.png';
$s-form-user: (0px, 408px, 0px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-form_user', );
$s-house-name: 's-house';
$s-house-x: 60px;
$s-house-y: 408px;
$s-house-offset-x: -60px;
$s-house-offset-y: -408px;
$s-house-width: 20px;
$s-house-height: 20px;
$s-house-total-width: 467px;
$s-house-total-height: 428px;
$s-house-image: 'images/sprite.png';
$s-house: (60px, 408px, -60px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-house', );
$s-icon-404-phone-name: 's-icon__404-phone';
$s-icon-404-phone-x: 373px;
$s-icon-404-phone-y: 156px;
$s-icon-404-phone-offset-x: -373px;
$s-icon-404-phone-offset-y: -156px;
$s-icon-404-phone-width: 29px;
$s-icon-404-phone-height: 29px;
$s-icon-404-phone-total-width: 467px;
$s-icon-404-phone-total-height: 428px;
$s-icon-404-phone-image: 'images/sprite.png';
$s-icon-404-phone: (373px, 156px, -373px, -156px, 29px, 29px, 467px, 428px, 'images/sprite.png', 's-icon__404-phone', );
$s-icon-btn-more-arrow-blue-name: 's-icon__btn-more-arrow--blue';
$s-icon-btn-more-arrow-blue-x: 250px;
$s-icon-btn-more-arrow-blue-y: 242px;
$s-icon-btn-more-arrow-blue-offset-x: -250px;
$s-icon-btn-more-arrow-blue-offset-y: -242px;
$s-icon-btn-more-arrow-blue-width: 8px;
$s-icon-btn-more-arrow-blue-height: 14px;
$s-icon-btn-more-arrow-blue-total-width: 467px;
$s-icon-btn-more-arrow-blue-total-height: 428px;
$s-icon-btn-more-arrow-blue-image: 'images/sprite.png';
$s-icon-btn-more-arrow-blue: (250px, 242px, -250px, -242px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-icon__btn-more-arrow--blue', );
$s-icon-btn-more-arrow-green-name: 's-icon__btn-more-arrow--green';
$s-icon-btn-more-arrow-green-x: 250px;
$s-icon-btn-more-arrow-green-y: 218px;
$s-icon-btn-more-arrow-green-offset-x: -250px;
$s-icon-btn-more-arrow-green-offset-y: -218px;
$s-icon-btn-more-arrow-green-width: 8px;
$s-icon-btn-more-arrow-green-height: 14px;
$s-icon-btn-more-arrow-green-total-width: 467px;
$s-icon-btn-more-arrow-green-total-height: 428px;
$s-icon-btn-more-arrow-green-image: 'images/sprite.png';
$s-icon-btn-more-arrow-green: (250px, 218px, -250px, -218px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-icon__btn-more-arrow--green', );
$s-icon-btn-more-arrow-white-name: 's-icon__btn-more-arrow--white';
$s-icon-btn-more-arrow-white-x: 391px;
$s-icon-btn-more-arrow-white-y: 339px;
$s-icon-btn-more-arrow-white-offset-x: -391px;
$s-icon-btn-more-arrow-white-offset-y: -339px;
$s-icon-btn-more-arrow-white-width: 8px;
$s-icon-btn-more-arrow-white-height: 14px;
$s-icon-btn-more-arrow-white-total-width: 467px;
$s-icon-btn-more-arrow-white-total-height: 428px;
$s-icon-btn-more-arrow-white-image: 'images/sprite.png';
$s-icon-btn-more-arrow-white: (391px, 339px, -391px, -339px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-icon__btn-more-arrow--white', );
$s-icon-btn-more-arrow-name: 's-icon__btn-more-arrow';
$s-icon-btn-more-arrow-x: 373px;
$s-icon-btn-more-arrow-y: 339px;
$s-icon-btn-more-arrow-offset-x: -373px;
$s-icon-btn-more-arrow-offset-y: -339px;
$s-icon-btn-more-arrow-width: 8px;
$s-icon-btn-more-arrow-height: 14px;
$s-icon-btn-more-arrow-total-width: 467px;
$s-icon-btn-more-arrow-total-height: 428px;
$s-icon-btn-more-arrow-image: 'images/sprite.png';
$s-icon-btn-more-arrow: (373px, 339px, -373px, -339px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-icon__btn-more-arrow', );
$s-icon-btn-print-green-name: 's-icon__btn-print--green';
$s-icon-btn-print-green-x: 412px;
$s-icon-btn-print-green-y: 204px;
$s-icon-btn-print-green-offset-x: -412px;
$s-icon-btn-print-green-offset-y: -204px;
$s-icon-btn-print-green-width: 22px;
$s-icon-btn-print-green-height: 21px;
$s-icon-btn-print-green-total-width: 467px;
$s-icon-btn-print-green-total-height: 428px;
$s-icon-btn-print-green-image: 'images/sprite.png';
$s-icon-btn-print-green: (412px, 204px, -412px, -204px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__btn-print--green', );
$s-icon-btn-print-white-name: 's-icon__btn-print--white';
$s-icon-btn-print-white-x: 412px;
$s-icon-btn-print-white-y: 235px;
$s-icon-btn-print-white-offset-x: -412px;
$s-icon-btn-print-white-offset-y: -235px;
$s-icon-btn-print-white-width: 22px;
$s-icon-btn-print-white-height: 21px;
$s-icon-btn-print-white-total-width: 467px;
$s-icon-btn-print-white-total-height: 428px;
$s-icon-btn-print-white-image: 'images/sprite.png';
$s-icon-btn-print-white: (412px, 235px, -412px, -235px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__btn-print--white', );
$s-icon-btn-print-name: 's-icon__btn-print';
$s-icon-btn-print-x: 188px;
$s-icon-btn-print-y: 148px;
$s-icon-btn-print-offset-x: -188px;
$s-icon-btn-print-offset-y: -148px;
$s-icon-btn-print-width: 22px;
$s-icon-btn-print-height: 21px;
$s-icon-btn-print-total-width: 467px;
$s-icon-btn-print-total-height: 428px;
$s-icon-btn-print-image: 'images/sprite.png';
$s-icon-btn-print: (188px, 148px, -188px, -148px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__btn-print', );
$s-icon-btn-star-white-name: 's-icon__btn-star--white';
$s-icon-btn-star-white-x: 412px;
$s-icon-btn-star-white-y: 266px;
$s-icon-btn-star-white-offset-x: -412px;
$s-icon-btn-star-white-offset-y: -266px;
$s-icon-btn-star-white-width: 22px;
$s-icon-btn-star-white-height: 21px;
$s-icon-btn-star-white-total-width: 467px;
$s-icon-btn-star-white-total-height: 428px;
$s-icon-btn-star-white-image: 'images/sprite.png';
$s-icon-btn-star-white: (412px, 266px, -412px, -266px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__btn-star--white', );
$s-icon-btn-star-name: 's-icon__btn-star';
$s-icon-btn-star-x: 412px;
$s-icon-btn-star-y: 297px;
$s-icon-btn-star-offset-x: -412px;
$s-icon-btn-star-offset-y: -297px;
$s-icon-btn-star-width: 22px;
$s-icon-btn-star-height: 21px;
$s-icon-btn-star-total-width: 467px;
$s-icon-btn-star-total-height: 428px;
$s-icon-btn-star-image: 'images/sprite.png';
$s-icon-btn-star: (412px, 297px, -412px, -297px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__btn-star', );
$s-icon-coupon-white-name: 's-icon__coupon--white';
$s-icon-coupon-white-x: 448px;
$s-icon-coupon-white-y: 218px;
$s-icon-coupon-white-offset-x: -448px;
$s-icon-coupon-white-offset-y: -218px;
$s-icon-coupon-white-width: 16px;
$s-icon-coupon-white-height: 19px;
$s-icon-coupon-white-total-width: 467px;
$s-icon-coupon-white-total-height: 428px;
$s-icon-coupon-white-image: 'images/sprite.png';
$s-icon-coupon-white: (448px, 218px, -448px, -218px, 16px, 19px, 467px, 428px, 'images/sprite.png', 's-icon__coupon--white', );
$s-icon-coupon-name: 's-icon__coupon';
$s-icon-coupon-x: 448px;
$s-icon-coupon-y: 247px;
$s-icon-coupon-offset-x: -448px;
$s-icon-coupon-offset-y: -247px;
$s-icon-coupon-width: 16px;
$s-icon-coupon-height: 19px;
$s-icon-coupon-total-width: 467px;
$s-icon-coupon-total-height: 428px;
$s-icon-coupon-image: 'images/sprite.png';
$s-icon-coupon: (448px, 247px, -448px, -247px, 16px, 19px, 467px, 428px, 'images/sprite.png', 's-icon__coupon', );
$s-icon-label-estate-instalment-name: 's-icon__label-estate-instalment';
$s-icon-label-estate-instalment-x: 448px;
$s-icon-label-estate-instalment-y: 31px;
$s-icon-label-estate-instalment-offset-x: -448px;
$s-icon-label-estate-instalment-offset-y: -31px;
$s-icon-label-estate-instalment-width: 19px;
$s-icon-label-estate-instalment-height: 21px;
$s-icon-label-estate-instalment-total-width: 467px;
$s-icon-label-estate-instalment-total-height: 428px;
$s-icon-label-estate-instalment-image: 'images/sprite.png';
$s-icon-label-estate-instalment: (448px, 31px, -448px, -31px, 19px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__label-estate-instalment', );
$s-icon-label-estate-profitable-name: 's-icon__label-estate-profitable';
$s-icon-label-estate-profitable-x: 448px;
$s-icon-label-estate-profitable-y: 0px;
$s-icon-label-estate-profitable-offset-x: -448px;
$s-icon-label-estate-profitable-offset-y: 0px;
$s-icon-label-estate-profitable-width: 19px;
$s-icon-label-estate-profitable-height: 21px;
$s-icon-label-estate-profitable-total-width: 467px;
$s-icon-label-estate-profitable-total-height: 428px;
$s-icon-label-estate-profitable-image: 'images/sprite.png';
$s-icon-label-estate-profitable: (448px, 0px, -448px, 0px, 19px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__label-estate-profitable', );
$s-icon-modal-tab-clocks-green-name: 's-icon__modal-tab-clocks--green';
$s-icon-modal-tab-clocks-green-x: 412px;
$s-icon-modal-tab-clocks-green-y: 328px;
$s-icon-modal-tab-clocks-green-offset-x: -412px;
$s-icon-modal-tab-clocks-green-offset-y: -328px;
$s-icon-modal-tab-clocks-green-width: 22px;
$s-icon-modal-tab-clocks-green-height: 21px;
$s-icon-modal-tab-clocks-green-total-width: 467px;
$s-icon-modal-tab-clocks-green-total-height: 428px;
$s-icon-modal-tab-clocks-green-image: 'images/sprite.png';
$s-icon-modal-tab-clocks-green: (412px, 328px, -412px, -328px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__modal-tab-clocks--green', );
$s-icon-modal-tab-clocks-name: 's-icon__modal-tab-clocks';
$s-icon-modal-tab-clocks-x: 412px;
$s-icon-modal-tab-clocks-y: 359px;
$s-icon-modal-tab-clocks-offset-x: -412px;
$s-icon-modal-tab-clocks-offset-y: -359px;
$s-icon-modal-tab-clocks-width: 22px;
$s-icon-modal-tab-clocks-height: 21px;
$s-icon-modal-tab-clocks-total-width: 467px;
$s-icon-modal-tab-clocks-total-height: 428px;
$s-icon-modal-tab-clocks-image: 'images/sprite.png';
$s-icon-modal-tab-clocks: (412px, 359px, -412px, -359px, 22px, 21px, 467px, 428px, 'images/sprite.png', 's-icon__modal-tab-clocks', );
$s-icon-modal-tab-phone-green-name: 's-icon__modal-tab-phone--green';
$s-icon-modal-tab-phone-green-x: 448px;
$s-icon-modal-tab-phone-green-y: 159px;
$s-icon-modal-tab-phone-green-offset-x: -448px;
$s-icon-modal-tab-phone-green-offset-y: -159px;
$s-icon-modal-tab-phone-green-width: 19px;
$s-icon-modal-tab-phone-green-height: 19px;
$s-icon-modal-tab-phone-green-total-width: 467px;
$s-icon-modal-tab-phone-green-total-height: 428px;
$s-icon-modal-tab-phone-green-image: 'images/sprite.png';
$s-icon-modal-tab-phone-green: (448px, 159px, -448px, -159px, 19px, 19px, 467px, 428px, 'images/sprite.png', 's-icon__modal-tab-phone--green', );
$s-icon-modal-tab-phone-name: 's-icon__modal-tab-phone';
$s-icon-modal-tab-phone-x: 448px;
$s-icon-modal-tab-phone-y: 130px;
$s-icon-modal-tab-phone-offset-x: -448px;
$s-icon-modal-tab-phone-offset-y: -130px;
$s-icon-modal-tab-phone-width: 19px;
$s-icon-modal-tab-phone-height: 19px;
$s-icon-modal-tab-phone-total-width: 467px;
$s-icon-modal-tab-phone-total-height: 428px;
$s-icon-modal-tab-phone-image: 'images/sprite.png';
$s-icon-modal-tab-phone: (448px, 130px, -448px, -130px, 19px, 19px, 467px, 428px, 'images/sprite.png', 's-icon__modal-tab-phone', );
$s-icon-search-btn-locator-purple-name: 's-icon__search-btn-locator--purple';
$s-icon-search-btn-locator-purple-x: 448px;
$s-icon-search-btn-locator-purple-y: 96px;
$s-icon-search-btn-locator-purple-offset-x: -448px;
$s-icon-search-btn-locator-purple-offset-y: -96px;
$s-icon-search-btn-locator-purple-width: 16px;
$s-icon-search-btn-locator-purple-height: 24px;
$s-icon-search-btn-locator-purple-total-width: 467px;
$s-icon-search-btn-locator-purple-total-height: 428px;
$s-icon-search-btn-locator-purple-image: 'images/sprite.png';
$s-icon-search-btn-locator-purple: (448px, 96px, -448px, -96px, 16px, 24px, 467px, 428px, 'images/sprite.png', 's-icon__search-btn-locator--purple', );
$s-icon-search-btn-locator-white-name: 's-icon__search-btn-locator--white';
$s-icon-search-btn-locator-white-x: 448px;
$s-icon-search-btn-locator-white-y: 62px;
$s-icon-search-btn-locator-white-offset-x: -448px;
$s-icon-search-btn-locator-white-offset-y: -62px;
$s-icon-search-btn-locator-white-width: 16px;
$s-icon-search-btn-locator-white-height: 24px;
$s-icon-search-btn-locator-white-total-width: 467px;
$s-icon-search-btn-locator-white-total-height: 428px;
$s-icon-search-btn-locator-white-image: 'images/sprite.png';
$s-icon-search-btn-locator-white: (448px, 62px, -448px, -62px, 16px, 24px, 467px, 428px, 'images/sprite.png', 's-icon__search-btn-locator--white', );
$s-icon-select-dropdown-green-name: 's-icon__select-dropdown--green';
$s-icon-select-dropdown-green-x: 448px;
$s-icon-select-dropdown-green-y: 365px;
$s-icon-select-dropdown-green-offset-x: -448px;
$s-icon-select-dropdown-green-offset-y: -365px;
$s-icon-select-dropdown-green-width: 15px;
$s-icon-select-dropdown-green-height: 8px;
$s-icon-select-dropdown-green-total-width: 467px;
$s-icon-select-dropdown-green-total-height: 428px;
$s-icon-select-dropdown-green-image: 'images/sprite.png';
$s-icon-select-dropdown-green: (448px, 365px, -448px, -365px, 15px, 8px, 467px, 428px, 'images/sprite.png', 's-icon__select-dropdown--green', );
$s-icon-select-dropdown-white-name: 's-icon__select-dropdown--white';
$s-icon-select-dropdown-white-x: 448px;
$s-icon-select-dropdown-white-y: 347px;
$s-icon-select-dropdown-white-offset-x: -448px;
$s-icon-select-dropdown-white-offset-y: -347px;
$s-icon-select-dropdown-white-width: 15px;
$s-icon-select-dropdown-white-height: 8px;
$s-icon-select-dropdown-white-total-width: 467px;
$s-icon-select-dropdown-white-total-height: 428px;
$s-icon-select-dropdown-white-image: 'images/sprite.png';
$s-icon-select-dropdown-white: (448px, 347px, -448px, -347px, 15px, 8px, 467px, 428px, 'images/sprite.png', 's-icon__select-dropdown--white', );
$s-icon-select-dropdown-name: 's-icon__select-dropdown';
$s-icon-select-dropdown-x: 448px;
$s-icon-select-dropdown-y: 383px;
$s-icon-select-dropdown-offset-x: -448px;
$s-icon-select-dropdown-offset-y: -383px;
$s-icon-select-dropdown-width: 15px;
$s-icon-select-dropdown-height: 8px;
$s-icon-select-dropdown-total-width: 467px;
$s-icon-select-dropdown-total-height: 428px;
$s-icon-select-dropdown-image: 'images/sprite.png';
$s-icon-select-dropdown: (448px, 383px, -448px, -383px, 15px, 8px, 467px, 428px, 'images/sprite.png', 's-icon__select-dropdown', );
$s-icon-start-search-arrow-name: 's-icon__start-search-arrow';
$s-icon-start-search-arrow-x: 373px;
$s-icon-start-search-arrow-y: 106px;
$s-icon-start-search-arrow-offset-x: -373px;
$s-icon-start-search-arrow-offset-y: -106px;
$s-icon-start-search-arrow-width: 24px;
$s-icon-start-search-arrow-height: 40px;
$s-icon-start-search-arrow-total-width: 467px;
$s-icon-start-search-arrow-total-height: 428px;
$s-icon-start-search-arrow-image: 'images/sprite.png';
$s-icon-start-search-arrow: (373px, 106px, -373px, -106px, 24px, 40px, 467px, 428px, 'images/sprite.png', 's-icon__start-search-arrow', );
$s-icon-table-plan-name: 's-icon__table-plan';
$s-icon-table-plan-x: 150px;
$s-icon-table-plan-y: 318px;
$s-icon-table-plan-offset-x: -150px;
$s-icon-table-plan-offset-y: -318px;
$s-icon-table-plan-width: 40px;
$s-icon-table-plan-height: 31px;
$s-icon-table-plan-total-width: 467px;
$s-icon-table-plan-total-height: 428px;
$s-icon-table-plan-image: 'images/sprite.png';
$s-icon-table-plan: (150px, 318px, -150px, -318px, 40px, 31px, 467px, 428px, 'images/sprite.png', 's-icon__table-plan', );
$s-icon-welcome-block-locator-name: 's-icon__welcome-block-locator';
$s-icon-welcome-block-locator-x: 448px;
$s-icon-welcome-block-locator-y: 301px;
$s-icon-welcome-block-locator-offset-x: -448px;
$s-icon-welcome-block-locator-offset-y: -301px;
$s-icon-welcome-block-locator-width: 12px;
$s-icon-welcome-block-locator-height: 16px;
$s-icon-welcome-block-locator-total-width: 467px;
$s-icon-welcome-block-locator-total-height: 428px;
$s-icon-welcome-block-locator-image: 'images/sprite.png';
$s-icon-welcome-block-locator: (448px, 301px, -448px, -301px, 12px, 16px, 467px, 428px, 'images/sprite.png', 's-icon__welcome-block-locator', );
$s-icon-welcome-block-phone-name: 's-icon__welcome-block-phone';
$s-icon-welcome-block-phone-x: 448px;
$s-icon-welcome-block-phone-y: 276px;
$s-icon-welcome-block-phone-offset-x: -448px;
$s-icon-welcome-block-phone-offset-y: -276px;
$s-icon-welcome-block-phone-width: 14px;
$s-icon-welcome-block-phone-height: 15px;
$s-icon-welcome-block-phone-total-width: 467px;
$s-icon-welcome-block-phone-total-height: 428px;
$s-icon-welcome-block-phone-image: 'images/sprite.png';
$s-icon-welcome-block-phone: (448px, 276px, -448px, -276px, 14px, 15px, 467px, 428px, 'images/sprite.png', 's-icon__welcome-block-phone', );
$s-insta-name: 's-insta';
$s-insta-x: 320px;
$s-insta-y: 318px;
$s-insta-offset-x: -320px;
$s-insta-offset-y: -318px;
$s-insta-width: 30px;
$s-insta-height: 30px;
$s-insta-total-width: 467px;
$s-insta-total-height: 428px;
$s-insta-image: 'images/sprite.png';
$s-insta: (320px, 318px, -320px, -318px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-insta', );
$s-lift-name: 's-lift';
$s-lift-x: 200px;
$s-lift-y: 318px;
$s-lift-offset-x: -200px;
$s-lift-offset-y: -318px;
$s-lift-width: 30px;
$s-lift-height: 30px;
$s-lift-total-width: 467px;
$s-lift-total-height: 428px;
$s-lift-image: 'images/sprite.png';
$s-lift: (200px, 318px, -200px, -318px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-lift', );
$s-like-purple-name: 's-like--purple';
$s-like-purple-x: 448px;
$s-like-purple-y: 188px;
$s-like-purple-offset-x: -448px;
$s-like-purple-offset-y: -188px;
$s-like-purple-width: 18px;
$s-like-purple-height: 20px;
$s-like-purple-total-width: 467px;
$s-like-purple-total-height: 428px;
$s-like-purple-image: 'images/sprite.png';
$s-like-purple: (448px, 188px, -448px, -188px, 18px, 20px, 467px, 428px, 'images/sprite.png', 's-like--purple', );
$s-like-name: 's-like';
$s-like-x: 116px;
$s-like-y: 368px;
$s-like-offset-x: -116px;
$s-like-offset-y: -368px;
$s-like-width: 26px;
$s-like-height: 26px;
$s-like-total-width: 467px;
$s-like-total-height: 428px;
$s-like-image: 'images/sprite.png';
$s-like: (116px, 368px, -116px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-like', );
$s-main-nav-about-white-name: 's-main-nav__about--white';
$s-main-nav-about-white-x: 50px;
$s-main-nav-about-white-y: 318px;
$s-main-nav-about-white-offset-x: -50px;
$s-main-nav-about-white-offset-y: -318px;
$s-main-nav-about-white-width: 40px;
$s-main-nav-about-white-height: 40px;
$s-main-nav-about-white-total-width: 467px;
$s-main-nav-about-white-total-height: 428px;
$s-main-nav-about-white-image: 'images/sprite.png';
$s-main-nav-about-white: (50px, 318px, -50px, -318px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__about--white', );
$s-main-nav-about-name: 's-main-nav__about';
$s-main-nav-about-x: 0px;
$s-main-nav-about-y: 318px;
$s-main-nav-about-offset-x: 0px;
$s-main-nav-about-offset-y: -318px;
$s-main-nav-about-width: 40px;
$s-main-nav-about-height: 40px;
$s-main-nav-about-total-width: 467px;
$s-main-nav-about-total-height: 428px;
$s-main-nav-about-image: 'images/sprite.png';
$s-main-nav-about: (0px, 318px, 0px, -318px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__about', );
$s-main-nav-contacts-phone-name: 's-main-nav__contacts-phone';
$s-main-nav-contacts-phone-x: 224px;
$s-main-nav-contacts-phone-y: 368px;
$s-main-nav-contacts-phone-offset-x: -224px;
$s-main-nav-contacts-phone-offset-y: -368px;
$s-main-nav-contacts-phone-width: 26px;
$s-main-nav-contacts-phone-height: 26px;
$s-main-nav-contacts-phone-total-width: 467px;
$s-main-nav-contacts-phone-total-height: 428px;
$s-main-nav-contacts-phone-image: 'images/sprite.png';
$s-main-nav-contacts-phone: (224px, 368px, -224px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-main-nav__contacts-phone', );
$s-main-nav-done-buildings-white-name: 's-main-nav__done-buildings--white';
$s-main-nav-done-buildings-white-x: 323px;
$s-main-nav-done-buildings-white-y: 250px;
$s-main-nav-done-buildings-white-offset-x: -323px;
$s-main-nav-done-buildings-white-offset-y: -250px;
$s-main-nav-done-buildings-white-width: 40px;
$s-main-nav-done-buildings-white-height: 40px;
$s-main-nav-done-buildings-white-total-width: 467px;
$s-main-nav-done-buildings-white-total-height: 428px;
$s-main-nav-done-buildings-white-image: 'images/sprite.png';
$s-main-nav-done-buildings-white: (323px, 250px, -323px, -250px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__done-buildings--white', );
$s-main-nav-done-buildings-name: 's-main-nav__done-buildings';
$s-main-nav-done-buildings-x: 323px;
$s-main-nav-done-buildings-y: 200px;
$s-main-nav-done-buildings-offset-x: -323px;
$s-main-nav-done-buildings-offset-y: -200px;
$s-main-nav-done-buildings-width: 40px;
$s-main-nav-done-buildings-height: 40px;
$s-main-nav-done-buildings-total-width: 467px;
$s-main-nav-done-buildings-total-height: 428px;
$s-main-nav-done-buildings-image: 'images/sprite.png';
$s-main-nav-done-buildings: (323px, 200px, -323px, -200px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__done-buildings', );
$s-main-nav-estate-list-white-name: 's-main-nav__estate-list--white';
$s-main-nav-estate-list-white-x: 323px;
$s-main-nav-estate-list-white-y: 150px;
$s-main-nav-estate-list-white-offset-x: -323px;
$s-main-nav-estate-list-white-offset-y: -150px;
$s-main-nav-estate-list-white-width: 40px;
$s-main-nav-estate-list-white-height: 40px;
$s-main-nav-estate-list-white-total-width: 467px;
$s-main-nav-estate-list-white-total-height: 428px;
$s-main-nav-estate-list-white-image: 'images/sprite.png';
$s-main-nav-estate-list-white: (323px, 150px, -323px, -150px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__estate-list--white', );
$s-main-nav-estate-list-name: 's-main-nav__estate-list';
$s-main-nav-estate-list-x: 323px;
$s-main-nav-estate-list-y: 100px;
$s-main-nav-estate-list-offset-x: -323px;
$s-main-nav-estate-list-offset-y: -100px;
$s-main-nav-estate-list-width: 40px;
$s-main-nav-estate-list-height: 40px;
$s-main-nav-estate-list-total-width: 467px;
$s-main-nav-estate-list-total-height: 428px;
$s-main-nav-estate-list-image: 'images/sprite.png';
$s-main-nav-estate-list: (323px, 100px, -323px, -100px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__estate-list', );
$s-main-nav-investments-white-name: 's-main-nav__investments--white';
$s-main-nav-investments-white-x: 323px;
$s-main-nav-investments-white-y: 50px;
$s-main-nav-investments-white-offset-x: -323px;
$s-main-nav-investments-white-offset-y: -50px;
$s-main-nav-investments-white-width: 40px;
$s-main-nav-investments-white-height: 40px;
$s-main-nav-investments-white-total-width: 467px;
$s-main-nav-investments-white-total-height: 428px;
$s-main-nav-investments-white-image: 'images/sprite.png';
$s-main-nav-investments-white: (323px, 50px, -323px, -50px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__investments--white', );
$s-main-nav-investments-name: 's-main-nav__investments';
$s-main-nav-investments-x: 323px;
$s-main-nav-investments-y: 0px;
$s-main-nav-investments-offset-x: -323px;
$s-main-nav-investments-offset-y: 0px;
$s-main-nav-investments-width: 40px;
$s-main-nav-investments-height: 40px;
$s-main-nav-investments-total-width: 467px;
$s-main-nav-investments-total-height: 428px;
$s-main-nav-investments-image: 'images/sprite.png';
$s-main-nav-investments: (323px, 0px, -323px, 0px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__investments', );
$s-main-nav-new-buildings-white-name: 's-main-nav__new-buildings--white';
$s-main-nav-new-buildings-white-x: 250px;
$s-main-nav-new-buildings-white-y: 268px;
$s-main-nav-new-buildings-white-offset-x: -250px;
$s-main-nav-new-buildings-white-offset-y: -268px;
$s-main-nav-new-buildings-white-width: 40px;
$s-main-nav-new-buildings-white-height: 40px;
$s-main-nav-new-buildings-white-total-width: 467px;
$s-main-nav-new-buildings-white-total-height: 428px;
$s-main-nav-new-buildings-white-image: 'images/sprite.png';
$s-main-nav-new-buildings-white: (250px, 268px, -250px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__new-buildings--white', );
$s-main-nav-new-buildings-name: 's-main-nav__new-buildings';
$s-main-nav-new-buildings-x: 200px;
$s-main-nav-new-buildings-y: 268px;
$s-main-nav-new-buildings-offset-x: -200px;
$s-main-nav-new-buildings-offset-y: -268px;
$s-main-nav-new-buildings-width: 40px;
$s-main-nav-new-buildings-height: 40px;
$s-main-nav-new-buildings-total-width: 467px;
$s-main-nav-new-buildings-total-height: 428px;
$s-main-nav-new-buildings-image: 'images/sprite.png';
$s-main-nav-new-buildings: (200px, 268px, -200px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__new-buildings', );
$s-main-nav-news-white-name: 's-main-nav__news--white';
$s-main-nav-news-white-x: 150px;
$s-main-nav-news-white-y: 268px;
$s-main-nav-news-white-offset-x: -150px;
$s-main-nav-news-white-offset-y: -268px;
$s-main-nav-news-white-width: 40px;
$s-main-nav-news-white-height: 40px;
$s-main-nav-news-white-total-width: 467px;
$s-main-nav-news-white-total-height: 428px;
$s-main-nav-news-white-image: 'images/sprite.png';
$s-main-nav-news-white: (150px, 268px, -150px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__news--white', );
$s-main-nav-news-name: 's-main-nav__news';
$s-main-nav-news-x: 100px;
$s-main-nav-news-y: 268px;
$s-main-nav-news-offset-x: -100px;
$s-main-nav-news-offset-y: -268px;
$s-main-nav-news-width: 40px;
$s-main-nav-news-height: 40px;
$s-main-nav-news-total-width: 467px;
$s-main-nav-news-total-height: 428px;
$s-main-nav-news-image: 'images/sprite.png';
$s-main-nav-news: (100px, 268px, -100px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__news', );
$s-main-nav-reviews-white-name: 's-main-nav__reviews--white';
$s-main-nav-reviews-white-x: 50px;
$s-main-nav-reviews-white-y: 268px;
$s-main-nav-reviews-white-offset-x: -50px;
$s-main-nav-reviews-white-offset-y: -268px;
$s-main-nav-reviews-white-width: 40px;
$s-main-nav-reviews-white-height: 40px;
$s-main-nav-reviews-white-total-width: 467px;
$s-main-nav-reviews-white-total-height: 428px;
$s-main-nav-reviews-white-image: 'images/sprite.png';
$s-main-nav-reviews-white: (50px, 268px, -50px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__reviews--white', );
$s-main-nav-reviews-name: 's-main-nav__reviews';
$s-main-nav-reviews-x: 100px;
$s-main-nav-reviews-y: 318px;
$s-main-nav-reviews-offset-x: -100px;
$s-main-nav-reviews-offset-y: -318px;
$s-main-nav-reviews-width: 40px;
$s-main-nav-reviews-height: 40px;
$s-main-nav-reviews-total-width: 467px;
$s-main-nav-reviews-total-height: 428px;
$s-main-nav-reviews-image: 'images/sprite.png';
$s-main-nav-reviews: (100px, 318px, -100px, -318px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__reviews', );
$s-main-nav-stocks-white-name: 's-main-nav__stocks--white';
$s-main-nav-stocks-white-x: 273px;
$s-main-nav-stocks-white-y: 200px;
$s-main-nav-stocks-white-offset-x: -273px;
$s-main-nav-stocks-white-offset-y: -200px;
$s-main-nav-stocks-white-width: 40px;
$s-main-nav-stocks-white-height: 40px;
$s-main-nav-stocks-white-total-width: 467px;
$s-main-nav-stocks-white-total-height: 428px;
$s-main-nav-stocks-white-image: 'images/sprite.png';
$s-main-nav-stocks-white: (273px, 200px, -273px, -200px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__stocks--white', );
$s-main-nav-stocks-name: 's-main-nav__stocks';
$s-main-nav-stocks-x: 273px;
$s-main-nav-stocks-y: 150px;
$s-main-nav-stocks-offset-x: -273px;
$s-main-nav-stocks-offset-y: -150px;
$s-main-nav-stocks-width: 40px;
$s-main-nav-stocks-height: 40px;
$s-main-nav-stocks-total-width: 467px;
$s-main-nav-stocks-total-height: 428px;
$s-main-nav-stocks-image: 'images/sprite.png';
$s-main-nav-stocks: (273px, 150px, -273px, -150px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-main-nav__stocks', );
$s-map-green-name: 's-map_green';
$s-map-green-x: 412px;
$s-map-green-y: 36px;
$s-map-green-offset-x: -412px;
$s-map-green-offset-y: -36px;
$s-map-green-width: 26px;
$s-map-green-height: 26px;
$s-map-green-total-width: 467px;
$s-map-green-total-height: 428px;
$s-map-green-image: 'images/sprite.png';
$s-map-green: (412px, 36px, -412px, -36px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-map_green', );
$s-menu-home-name: 's-menu_home';
$s-menu-home-x: 273px;
$s-menu-home-y: 100px;
$s-menu-home-offset-x: -273px;
$s-menu-home-offset-y: -100px;
$s-menu-home-width: 40px;
$s-menu-home-height: 40px;
$s-menu-home-total-width: 467px;
$s-menu-home-total-height: 428px;
$s-menu-home-image: 'images/sprite.png';
$s-menu-home: (273px, 100px, -273px, -100px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-menu_home', );
$s-metro-name: 's-metro';
$s-metro-x: 30px;
$s-metro-y: 408px;
$s-metro-offset-x: -30px;
$s-metro-offset-y: -408px;
$s-metro-width: 20px;
$s-metro-height: 20px;
$s-metro-total-width: 467px;
$s-metro-total-height: 428px;
$s-metro-image: 'images/sprite.png';
$s-metro: (30px, 408px, -30px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-metro', );
$s-modal-close-name: 's-modal-close';
$s-modal-close-x: 222px;
$s-modal-close-y: 0px;
$s-modal-close-offset-x: -222px;
$s-modal-close-offset-y: 0px;
$s-modal-close-width: 41px;
$s-modal-close-height: 41px;
$s-modal-close-total-width: 467px;
$s-modal-close-total-height: 428px;
$s-modal-close-image: 'images/sprite.png';
$s-modal-close: (222px, 0px, -222px, 0px, 41px, 41px, 467px, 428px, 'images/sprite.png', 's-modal-close', );
$s-modal-ff-logo-name: 's-modal__ff-logo';
$s-modal-ff-logo-x: 70px;
$s-modal-ff-logo-y: 148px;
$s-modal-ff-logo-offset-x: -70px;
$s-modal-ff-logo-offset-y: -148px;
$s-modal-ff-logo-width: 59px;
$s-modal-ff-logo-height: 58px;
$s-modal-ff-logo-total-width: 467px;
$s-modal-ff-logo-total-height: 428px;
$s-modal-ff-logo-image: 'images/sprite.png';
$s-modal-ff-logo: (70px, 148px, -70px, -148px, 59px, 58px, 467px, 428px, 'images/sprite.png', 's-modal__ff-logo', );
$s-next-filled-black-name: 's-next_filled_black';
$s-next-filled-black-x: 273px;
$s-next-filled-black-y: 0px;
$s-next-filled-black-offset-x: -273px;
$s-next-filled-black-offset-y: 0px;
$s-next-filled-black-width: 40px;
$s-next-filled-black-height: 40px;
$s-next-filled-black-total-width: 467px;
$s-next-filled-black-total-height: 428px;
$s-next-filled-black-image: 'images/sprite.png';
$s-next-filled-black: (273px, 0px, -273px, 0px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-next_filled_black', );
$s-next-filled-white-name: 's-next_filled_white';
$s-next-filled-white-x: 200px;
$s-next-filled-white-y: 218px;
$s-next-filled-white-offset-x: -200px;
$s-next-filled-white-offset-y: -218px;
$s-next-filled-white-width: 40px;
$s-next-filled-white-height: 40px;
$s-next-filled-white-total-width: 467px;
$s-next-filled-white-total-height: 428px;
$s-next-filled-white-image: 'images/sprite.png';
$s-next-filled-white: (200px, 218px, -200px, -218px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-next_filled_white', );
$s-number-01-name: 's-number__01';
$s-number-01-x: 0px;
$s-number-01-y: 0px;
$s-number-01-offset-x: 0px;
$s-number-01-offset-y: 0px;
$s-number-01-width: 64px;
$s-number-01-height: 64px;
$s-number-01-total-width: 467px;
$s-number-01-total-height: 428px;
$s-number-01-image: 'images/sprite.png';
$s-number-01: (0px, 0px, 0px, 0px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__01', );
$s-number-02-name: 's-number__02';
$s-number-02-x: 74px;
$s-number-02-y: 0px;
$s-number-02-offset-x: -74px;
$s-number-02-offset-y: 0px;
$s-number-02-width: 64px;
$s-number-02-height: 64px;
$s-number-02-total-width: 467px;
$s-number-02-total-height: 428px;
$s-number-02-image: 'images/sprite.png';
$s-number-02: (74px, 0px, -74px, 0px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__02', );
$s-number-03-name: 's-number__03';
$s-number-03-x: 0px;
$s-number-03-y: 74px;
$s-number-03-offset-x: 0px;
$s-number-03-offset-y: -74px;
$s-number-03-width: 64px;
$s-number-03-height: 64px;
$s-number-03-total-width: 467px;
$s-number-03-total-height: 428px;
$s-number-03-image: 'images/sprite.png';
$s-number-03: (0px, 74px, 0px, -74px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__03', );
$s-number-04-name: 's-number__04';
$s-number-04-x: 74px;
$s-number-04-y: 74px;
$s-number-04-offset-x: -74px;
$s-number-04-offset-y: -74px;
$s-number-04-width: 64px;
$s-number-04-height: 64px;
$s-number-04-total-width: 467px;
$s-number-04-total-height: 428px;
$s-number-04-image: 'images/sprite.png';
$s-number-04: (74px, 74px, -74px, -74px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__04', );
$s-number-05-name: 's-number__05';
$s-number-05-x: 148px;
$s-number-05-y: 0px;
$s-number-05-offset-x: -148px;
$s-number-05-offset-y: 0px;
$s-number-05-width: 64px;
$s-number-05-height: 64px;
$s-number-05-total-width: 467px;
$s-number-05-total-height: 428px;
$s-number-05-image: 'images/sprite.png';
$s-number-05: (148px, 0px, -148px, 0px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__05', );
$s-number-06-name: 's-number__06';
$s-number-06-x: 148px;
$s-number-06-y: 74px;
$s-number-06-offset-x: -148px;
$s-number-06-offset-y: -74px;
$s-number-06-width: 64px;
$s-number-06-height: 64px;
$s-number-06-total-width: 467px;
$s-number-06-total-height: 428px;
$s-number-06-image: 'images/sprite.png';
$s-number-06: (148px, 74px, -148px, -74px, 64px, 64px, 467px, 428px, 'images/sprite.png', 's-number__06', );
$s-pagination-next-arrow-blue-name: 's-pagination__next-arrow--blue';
$s-pagination-next-arrow-blue-x: 360px;
$s-pagination-next-arrow-blue-y: 408px;
$s-pagination-next-arrow-blue-offset-x: -360px;
$s-pagination-next-arrow-blue-offset-y: -408px;
$s-pagination-next-arrow-blue-width: 8px;
$s-pagination-next-arrow-blue-height: 14px;
$s-pagination-next-arrow-blue-total-width: 467px;
$s-pagination-next-arrow-blue-total-height: 428px;
$s-pagination-next-arrow-blue-image: 'images/sprite.png';
$s-pagination-next-arrow-blue: (360px, 408px, -360px, -408px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-pagination__next-arrow--blue', );
$s-pagination-next-arrow-name: 's-pagination__next-arrow';
$s-pagination-next-arrow-x: 448px;
$s-pagination-next-arrow-y: 401px;
$s-pagination-next-arrow-offset-x: -448px;
$s-pagination-next-arrow-offset-y: -401px;
$s-pagination-next-arrow-width: 8px;
$s-pagination-next-arrow-height: 14px;
$s-pagination-next-arrow-total-width: 467px;
$s-pagination-next-arrow-total-height: 428px;
$s-pagination-next-arrow-image: 'images/sprite.png';
$s-pagination-next-arrow: (448px, 401px, -448px, -401px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-pagination__next-arrow', );
$s-pagination-prev-arrow-blue-fw-name: 's-pagination__prev-arrow--blue.fw';
$s-pagination-prev-arrow-blue-fw-x: 300px;
$s-pagination-prev-arrow-blue-fw-y: 292px;
$s-pagination-prev-arrow-blue-fw-offset-x: -300px;
$s-pagination-prev-arrow-blue-fw-offset-y: -292px;
$s-pagination-prev-arrow-blue-fw-width: 8px;
$s-pagination-prev-arrow-blue-fw-height: 14px;
$s-pagination-prev-arrow-blue-fw-total-width: 467px;
$s-pagination-prev-arrow-blue-fw-total-height: 428px;
$s-pagination-prev-arrow-blue-fw-image: 'images/sprite.png';
$s-pagination-prev-arrow-blue-fw: (300px, 292px, -300px, -292px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-pagination__prev-arrow--blue.fw', );
$s-pagination-prev-arrow-fw-name: 's-pagination__prev-arrow.fw';
$s-pagination-prev-arrow-fw-x: 300px;
$s-pagination-prev-arrow-fw-y: 268px;
$s-pagination-prev-arrow-fw-offset-x: -300px;
$s-pagination-prev-arrow-fw-offset-y: -268px;
$s-pagination-prev-arrow-fw-width: 8px;
$s-pagination-prev-arrow-fw-height: 14px;
$s-pagination-prev-arrow-fw-total-width: 467px;
$s-pagination-prev-arrow-fw-total-height: 428px;
$s-pagination-prev-arrow-fw-image: 'images/sprite.png';
$s-pagination-prev-arrow-fw: (300px, 268px, -300px, -268px, 8px, 14px, 467px, 428px, 'images/sprite.png', 's-pagination__prev-arrow.fw', );
$s-pin-in-maps-name: 's-pin-in-maps';
$s-pin-in-maps-x: 40px;
$s-pin-in-maps-y: 368px;
$s-pin-in-maps-offset-x: -40px;
$s-pin-in-maps-offset-y: -368px;
$s-pin-in-maps-width: 30px;
$s-pin-in-maps-height: 30px;
$s-pin-in-maps-total-width: 467px;
$s-pin-in-maps-total-height: 428px;
$s-pin-in-maps-image: 'images/sprite.png';
$s-pin-in-maps: (40px, 368px, -40px, -368px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-pin-in-maps', );
$s-pin-blue-name: 's-pin_blue';
$s-pin-blue-x: 90px;
$s-pin-blue-y: 408px;
$s-pin-blue-offset-x: -90px;
$s-pin-blue-offset-y: -408px;
$s-pin-blue-width: 20px;
$s-pin-blue-height: 20px;
$s-pin-blue-total-width: 467px;
$s-pin-blue-total-height: 428px;
$s-pin-blue-image: 'images/sprite.png';
$s-pin-blue: (90px, 408px, -90px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-pin_blue', );
$s-pin-green-name: 's-pin_green';
$s-pin-green-x: 240px;
$s-pin-green-y: 408px;
$s-pin-green-offset-x: -240px;
$s-pin-green-offset-y: -408px;
$s-pin-green-width: 20px;
$s-pin-green-height: 20px;
$s-pin-green-total-width: 467px;
$s-pin-green-total-height: 428px;
$s-pin-green-image: 'images/sprite.png';
$s-pin-green: (240px, 408px, -240px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-pin_green', );
$s-prev-filled-black-name: 's-prev_filled_black';
$s-prev-filled-black-x: 222px;
$s-prev-filled-black-y: 51px;
$s-prev-filled-black-offset-x: -222px;
$s-prev-filled-black-offset-y: -51px;
$s-prev-filled-black-width: 40px;
$s-prev-filled-black-height: 40px;
$s-prev-filled-black-total-width: 467px;
$s-prev-filled-black-total-height: 428px;
$s-prev-filled-black-image: 'images/sprite.png';
$s-prev-filled-black: (222px, 51px, -222px, -51px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-prev_filled_black', );
$s-prev-filled-white-name: 's-prev_filled_white';
$s-prev-filled-white-x: 0px;
$s-prev-filled-white-y: 268px;
$s-prev-filled-white-offset-x: 0px;
$s-prev-filled-white-offset-y: -268px;
$s-prev-filled-white-width: 40px;
$s-prev-filled-white-height: 40px;
$s-prev-filled-white-total-width: 467px;
$s-prev-filled-white-total-height: 428px;
$s-prev-filled-white-image: 'images/sprite.png';
$s-prev-filled-white: (0px, 268px, 0px, -268px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-prev_filled_white', );
$s-promoslider-next-blue-name: 's-promoslider-next--blue';
$s-promoslider-next-blue-x: 222px;
$s-promoslider-next-blue-y: 101px;
$s-promoslider-next-blue-offset-x: -222px;
$s-promoslider-next-blue-offset-y: -101px;
$s-promoslider-next-blue-width: 40px;
$s-promoslider-next-blue-height: 40px;
$s-promoslider-next-blue-total-width: 467px;
$s-promoslider-next-blue-total-height: 428px;
$s-promoslider-next-blue-image: 'images/sprite.png';
$s-promoslider-next-blue: (222px, 101px, -222px, -101px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-next--blue', );
$s-promoslider-next-white-name: 's-promoslider-next--white';
$s-promoslider-next-white-x: 222px;
$s-promoslider-next-white-y: 151px;
$s-promoslider-next-white-offset-x: -222px;
$s-promoslider-next-white-offset-y: -151px;
$s-promoslider-next-white-width: 40px;
$s-promoslider-next-white-height: 40px;
$s-promoslider-next-white-total-width: 467px;
$s-promoslider-next-white-total-height: 428px;
$s-promoslider-next-white-image: 'images/sprite.png';
$s-promoslider-next-white: (222px, 151px, -222px, -151px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-next--white', );
$s-promoslider-next-name: 's-promoslider-next';
$s-promoslider-next-x: 50px;
$s-promoslider-next-y: 218px;
$s-promoslider-next-offset-x: -50px;
$s-promoslider-next-offset-y: -218px;
$s-promoslider-next-width: 40px;
$s-promoslider-next-height: 40px;
$s-promoslider-next-total-width: 467px;
$s-promoslider-next-total-height: 428px;
$s-promoslider-next-image: 'images/sprite.png';
$s-promoslider-next: (50px, 218px, -50px, -218px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-next', );
$s-promoslider-prev-blue-name: 's-promoslider-prev--blue';
$s-promoslider-prev-blue-x: 100px;
$s-promoslider-prev-blue-y: 218px;
$s-promoslider-prev-blue-offset-x: -100px;
$s-promoslider-prev-blue-offset-y: -218px;
$s-promoslider-prev-blue-width: 40px;
$s-promoslider-prev-blue-height: 40px;
$s-promoslider-prev-blue-total-width: 467px;
$s-promoslider-prev-blue-total-height: 428px;
$s-promoslider-prev-blue-image: 'images/sprite.png';
$s-promoslider-prev-blue: (100px, 218px, -100px, -218px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-prev--blue', );
$s-promoslider-prev-white-name: 's-promoslider-prev--white';
$s-promoslider-prev-white-x: 150px;
$s-promoslider-prev-white-y: 218px;
$s-promoslider-prev-white-offset-x: -150px;
$s-promoslider-prev-white-offset-y: -218px;
$s-promoslider-prev-white-width: 40px;
$s-promoslider-prev-white-height: 40px;
$s-promoslider-prev-white-total-width: 467px;
$s-promoslider-prev-white-total-height: 428px;
$s-promoslider-prev-white-image: 'images/sprite.png';
$s-promoslider-prev-white: (150px, 218px, -150px, -218px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-prev--white', );
$s-promoslider-prev-name: 's-promoslider-prev';
$s-promoslider-prev-x: 273px;
$s-promoslider-prev-y: 50px;
$s-promoslider-prev-offset-x: -273px;
$s-promoslider-prev-offset-y: -50px;
$s-promoslider-prev-width: 40px;
$s-promoslider-prev-height: 40px;
$s-promoslider-prev-total-width: 467px;
$s-promoslider-prev-total-height: 428px;
$s-promoslider-prev-image: 'images/sprite.png';
$s-promoslider-prev: (273px, 50px, -273px, -50px, 40px, 40px, 467px, 428px, 'images/sprite.png', 's-promoslider-prev', );
$s-rooms-name: 's-rooms';
$s-rooms-x: 80px;
$s-rooms-y: 368px;
$s-rooms-offset-x: -80px;
$s-rooms-offset-y: -368px;
$s-rooms-width: 26px;
$s-rooms-height: 26px;
$s-rooms-total-width: 467px;
$s-rooms-total-height: 428px;
$s-rooms-image: 'images/sprite.png';
$s-rooms: (80px, 368px, -80px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-rooms', );
$s-sale-name: 's-sale';
$s-sale-x: 373px;
$s-sale-y: 303px;
$s-sale-offset-x: -373px;
$s-sale-offset-y: -303px;
$s-sale-width: 26px;
$s-sale-height: 26px;
$s-sale-total-width: 467px;
$s-sale-total-height: 428px;
$s-sale-image: 'images/sprite.png';
$s-sale: (373px, 303px, -373px, -303px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-sale', );
$s-search-blocks-locator-white-name: 's-search-blocks__locator--white';
$s-search-blocks-locator-white-x: 373px;
$s-search-blocks-locator-white-y: 0px;
$s-search-blocks-locator-white-offset-x: -373px;
$s-search-blocks-locator-white-offset-y: 0px;
$s-search-blocks-locator-white-width: 29px;
$s-search-blocks-locator-white-height: 43px;
$s-search-blocks-locator-white-total-width: 467px;
$s-search-blocks-locator-white-total-height: 428px;
$s-search-blocks-locator-white-image: 'images/sprite.png';
$s-search-blocks-locator-white: (373px, 0px, -373px, 0px, 29px, 43px, 467px, 428px, 'images/sprite.png', 's-search-blocks__locator--white', );
$s-search-blocks-locator-name: 's-search-blocks__locator';
$s-search-blocks-locator-x: 373px;
$s-search-blocks-locator-y: 53px;
$s-search-blocks-locator-offset-x: -373px;
$s-search-blocks-locator-offset-y: -53px;
$s-search-blocks-locator-width: 29px;
$s-search-blocks-locator-height: 43px;
$s-search-blocks-locator-total-width: 467px;
$s-search-blocks-locator-total-height: 428px;
$s-search-blocks-locator-image: 'images/sprite.png';
$s-search-blocks-locator: (373px, 53px, -373px, -53px, 29px, 43px, 467px, 428px, 'images/sprite.png', 's-search-blocks__locator', );
$s-search-name: 's-search';
$s-search-x: 188px;
$s-search-y: 368px;
$s-search-offset-x: -188px;
$s-search-offset-y: -368px;
$s-search-width: 26px;
$s-search-height: 26px;
$s-search-total-width: 467px;
$s-search-total-height: 428px;
$s-search-image: 'images/sprite.png';
$s-search: (188px, 368px, -188px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-search', );
$s-square-name: 's-square';
$s-square-x: 368px;
$s-square-y: 368px;
$s-square-offset-x: -368px;
$s-square-offset-y: -368px;
$s-square-width: 26px;
$s-square-height: 26px;
$s-square-total-width: 467px;
$s-square-total-height: 428px;
$s-square-image: 'images/sprite.png';
$s-square: (368px, 368px, -368px, -368px, 26px, 26px, 467px, 428px, 'images/sprite.png', 's-square', );
$s-subway-name: 's-subway';
$s-subway-x: 270px;
$s-subway-y: 408px;
$s-subway-offset-x: -270px;
$s-subway-offset-y: -408px;
$s-subway-width: 20px;
$s-subway-height: 20px;
$s-subway-total-width: 467px;
$s-subway-total-height: 428px;
$s-subway-image: 'images/sprite.png';
$s-subway: (270px, 408px, -270px, -408px, 20px, 20px, 467px, 428px, 'images/sprite.png', 's-subway', );
$s-vk-name: 's-vk';
$s-vk-x: 0px;
$s-vk-y: 368px;
$s-vk-offset-x: 0px;
$s-vk-offset-y: -368px;
$s-vk-width: 30px;
$s-vk-height: 30px;
$s-vk-total-width: 467px;
$s-vk-total-height: 428px;
$s-vk-image: 'images/sprite.png';
$s-vk: (0px, 368px, 0px, -368px, 30px, 30px, 467px, 428px, 'images/sprite.png', 's-vk', );
$spritesheet-width: 467px;
$spritesheet-height: 428px;
$spritesheet-image: 'images/sprite.png';
$spritesheet-sprites: ($s-attention, $s-balloon, $s-bank1, $s-bank2, $s-bank3, $s-bank4, $s-bank5, $s-case, $s-close, $s-contacts-clocks, $s-contacts-consultings-icon, $s-contacts-locator, $s-contacts-mail, $s-contacts-phone, $s-deadline, $s-deadline-dark, $s-decoration, $s-down, $s-favorites, $s-fb, $s-flag, $s-floor, $s-form-mail, $s-form-msg, $s-form-phone, $s-form-user, $s-house, $s-icon-404-phone, $s-icon-btn-more-arrow-blue, $s-icon-btn-more-arrow-green, $s-icon-btn-more-arrow-white, $s-icon-btn-more-arrow, $s-icon-btn-print-green, $s-icon-btn-print-white, $s-icon-btn-print, $s-icon-btn-star-white, $s-icon-btn-star, $s-icon-coupon-white, $s-icon-coupon, $s-icon-label-estate-instalment, $s-icon-label-estate-profitable, $s-icon-modal-tab-clocks-green, $s-icon-modal-tab-clocks, $s-icon-modal-tab-phone-green, $s-icon-modal-tab-phone, $s-icon-search-btn-locator-purple, $s-icon-search-btn-locator-white, $s-icon-select-dropdown-green, $s-icon-select-dropdown-white, $s-icon-select-dropdown, $s-icon-start-search-arrow, $s-icon-table-plan, $s-icon-welcome-block-locator, $s-icon-welcome-block-phone, $s-insta, $s-lift, $s-like-purple, $s-like, $s-main-nav-about-white, $s-main-nav-about, $s-main-nav-contacts-phone, $s-main-nav-done-buildings-white, $s-main-nav-done-buildings, $s-main-nav-estate-list-white, $s-main-nav-estate-list, $s-main-nav-investments-white, $s-main-nav-investments, $s-main-nav-new-buildings-white, $s-main-nav-new-buildings, $s-main-nav-news-white, $s-main-nav-news, $s-main-nav-reviews-white, $s-main-nav-reviews, $s-main-nav-stocks-white, $s-main-nav-stocks, $s-map-green, $s-menu-home, $s-metro, $s-modal-close, $s-modal-ff-logo, $s-next-filled-black, $s-next-filled-white, $s-number-01, $s-number-02, $s-number-03, $s-number-04, $s-number-05, $s-number-06, $s-pagination-next-arrow-blue, $s-pagination-next-arrow, $s-pagination-prev-arrow-blue-fw, $s-pagination-prev-arrow-fw, $s-pin-in-maps, $s-pin-blue, $s-pin-green, $s-prev-filled-black, $s-prev-filled-white, $s-promoslider-next-blue, $s-promoslider-next-white, $s-promoslider-next, $s-promoslider-prev-blue, $s-promoslider-prev-white, $s-promoslider-prev, $s-rooms, $s-sale, $s-search-blocks-locator-white, $s-search-blocks-locator, $s-search, $s-square, $s-subway, $s-vk, );
$spritesheet: (467px, 428px, 'images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
